
@import '../../styles/main';

.project-card{
    border: solid $BorderWidth $BorderBlack;
    border-radius: $borderRadiusMain;
    padding: 25px;
    .title{
        display: flex;
        justify-content: center;
        label{
            font-family: Montserrat-Medium;
            @include textBasis(30px);
            color: white;
            text-align: center;
        }
    }
    .img-wrapper{
        position: relative;
    }
    .text-wrapper{
        position: relative;
        text-align: center;
        label{
            font-family: Montserrat;
            @include textBasis(11px);
        }
    }
}

.project-card:hover{
    animation: ZoomIn 0.3s linear forwards;
}


@keyframes ZoomIn {
    0% {
        transform: scale(1, 1);
	}
	100% {
        transform: scale(1.1, 1.1);
	}
}