
@import '../../styles/main';

.project-card{
    border: solid $BorderWidth $BorderBlack;
    border-radius: $borderRadiusMain;
    position: relative;
    padding-top: 25px;
   
    .card-footer{
        position: absolute;
        bottom: 0;
        height: 50px;
        width: 100%;
        background:rgba(0,0,0,0.15);
        border-radius: 0  0  5px 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        button{
            border-radius: 50px;
            border: solid $BorderWidth white;
            height: 30px;
            width: 30px;
            color: white;
            background-color: transparent;
            font-weight: 900;
        }
    }
    .title{
        display: flex;
        justify-content: center;
        label{
            font-family: Montserrat-Medium;
            @include textBasis(30px);
            color: white;
            text-align: center;
        }
    }
    .img-wrapper{
        position: relative;
    }
    .text-wrapper{
        position: relative;
        text-align: center;
        label{
            font-family: Montserrat;
            @include textBasis(11px);
        }
    }
}

.project-card:hover{
    animation: ZoomIn 0.3s linear forwards;
}


@keyframes ZoomIn {
    0% {
        z-index: 100;
        transform: scale(1, 1);
	}
	100% {
        z-index: 100;
        transform: scale(1.1, 1.1);
	}
}