@import "../../styles/main";

.projects{
    display: flex;
    flex: 0 1 auto;
    flex-direction: column;
    justify-content: center;
    margin-top: $spaceBetween;
    padding: 0 $mainLGRightLeftPadding;
    .textwrapper {
        display: flex;
        justify-content: center;
        width: 100%;
        .title {
            @include textBasis(2.5rem);
            padding-bottom: 18px;
        }
    }
    .project-card-wrapper{
        display: grid;
        gap: 25px;
        grid-template-columns: 282px 282px 282px 282px; 
        grid-template-rows: 277px 277px 277px 277px; 
        gap: 50px 50px; 
    }
}