@import "../../styles/mixin";
@import "../../styles/variables";

.how-we-do-it {
    padding: $spaceBetween 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    position: relative;
    
    .img-how-we-do-it {
        position: absolute;
        right: -2px;
        bottom: 0;
    }
    .txt-how-we-do-it {
        padding: $spaceBetween 0;
        border-top: solid $BorderWidth $BorderBlack;
        border-left: solid $BorderWidth $BorderBlack;
        border-bottom: solid $BorderWidth $BorderBlack;
        border-bottom-left-radius: $borderRadiusMain;
        border-top-left-radius: $borderRadiusMain;
        background-color: $DarkLavender;
        width: 90%;

        align-items: flex-end;
        display: flex;
        flex-direction: column;
        .title {
            align-self: center;
            justify-self: center;
            @include textBasisBold($title);
            color:$White
        }
        .text-wrapper {
            padding: $spaceBetween45;
            display: flex;
            flex-direction: row;
            gap: 65px;
            flex-wrap: wrap;
            justify-content: flex-end;
            align-items: flex-end;
            text-align: left;
            max-width: 1227px;
            .textpart {
                width: 360px;
                color: $White !important;
                @include textBasisBold($text);
            }
        }
    }
}

@include media-lg {
    .how-we-do-it {
        .img-how-we-do-it {
            width: 50%;
            right: 0;
            left: unset;
            img {
                width: 100%;
            }
        }
    }
}

@include media-md {
    .how-we-do-it {
        .img-how-we-do-it {
            width: 0;
            visibility: hidden;
        }
        padding: unset;
        .txt-how-we-do-it {
            padding: unset;
            border: unset;
            background-color: $White;

            justify-content: center;
            width: 100%;
            background-image: none;
            display: flex;
            flex-direction: column;

            .title {
                color: $Black;
            }
            .text-wrapper {
                padding: $spaceBetween45 0;
                margin: $spaceBetween45 0;
                position: relative;
                align-items: center;
                display: flex;
                flex-direction: column;
                gap: $spaceBetween45;
                justify-content: space-around;
                .textpart {
                    padding: $paddingCajasSM;
                    background-color: $White;
                    color: $Black !important;
                    width: 80%;
                    box-shadow: 0px 23px 35.7px 2.3px rgba(57, 58, 57, 0.15);
                    border: solid $BorderWidth $BorderBlack;
                    border-radius: $borderRadiusMain;
                    @include textBasis(1.406rem);
                    z-index: 1;
                    span {
                        color: $Black;
                    }
                }
            }
            .text-wrapper::before {
                content: "\A";
                position: absolute;
                background: $DarkLavender;
                top: 0;
                bottom: 0;
                left: 37%;
                width: 63%;
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
                border-top: solid $BorderWidth $BorderBlack;
                border-left: solid $BorderWidth $BorderBlack;
                border-bottom: solid $BorderWidth $BorderBlack;
            }
        }
    }
}
