@import "../../styles/mixin";
@import "../../styles/variables";

.how-we-do-it {
    background-color: $LilaBanner;
    width: 73.7%;
    grid-row: 5;
    display: grid;
    grid-template-rows: 170px 249px 81px;
    border-bottom-right-radius: $borderRadiusMain;
    border-top-right-radius: $borderRadiusMain;
    .title {
        align-self: center;
        justify-self: center;
        @include textBasis(2.5rem);
        color: $White;
    }
    .text-wrapper {
        display: grid;
        grid-template: 77px 97px / 338px 352px;
        column-gap: 135px;
        row-gap: 75px;
        justify-content: center;
        text-align: center;
        label{
            color: $White !important;
            font-weight: 100 !important;
            @include textBasis(1.063rem);

        }
        span{
            color: $White;
            font-weight: bold;
        }
        :last-child{
            align-self: center;
            width: 319px;
            justify-self: center;
        }
    }
}


@include media-md {
    .how-we-do-it {
        
        background-color: $White;

        justify-content: center;
        width: 100%;
        background-image: none;
        display: flex;
        flex-direction: column;

        .title{
            color: $Black;
        }
        .text-wrapper {
            position:relative;
            align-items: center;
            display: flex;
            flex-direction: column;
            margin-top: 45px;
            padding-top: 59px;
            padding-bottom: 60px;
            
            label {
                background-color: $White;
                color: $Black !important;
                width: 576px !important;
                height: 181px;
                padding: 34px 53px 32px 59px;
                box-shadow: 0px 23px 35.7px 2.3px rgba(57, 58, 57, 0.15);
                border-radius: 20px;
                @include textBasis(1.406rem);
                z-index: 1;
            }

            span{
                color: $Black;
            }
            :nth-child(1) {
                order: 0;
            }
            :nth-child(2) {
                order: 3;
                padding-right: 52px;
            }
            :nth-child(3) {
                order: 2;
                padding-left: 50px;
            }
            :nth-child(4) {
                order: 4;
                padding: 58px 89px 46px 94px;
            }
        }
        .text-wrapper::before {
            content:'\A';
            position:absolute;
            background:#b3a9ce;
            top:0; bottom:0;
            left:37%; 
            width:63%;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
        }
    }
}
