@import "../../styles/mixin";
@import "../../styles/variables";

.investigation {
    display: flex;
    justify-content: center;
    position: relative;
    img {
        position: absolute;
        top:0;
        height: 100%;
        &.banner2{
            left:-267px;
            &.animation{
                animation: leftToRightBanner linear 1s;
            }
        }
        &.banner3{
            &.animation{
                animation: rightToLeft linear 1s;
            }
            right:-190px;
            top:-62px
        }
    }
    .text-wrapper {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        @include textBasis($text);
        position: relative;
        min-height: 400px;
        .main-text-wrapper{
            display: flex;
            flex-direction: column;
            justify-content: center;
            .title {
                @include textBasisBold($title);
                width: 354px;
                align-self: center;
            }
            margin-top: $marginCajasLG;
            margin-bottom: $marginCajasLG;
            width: 549px;
            align-self: center;
            :first-child{
                display: block;
                margin-bottom: $marginCajasLG;
            }
        }
    }
    
    button {
        width: 212px;
        background-color: $MinionYellow;
        color: black;
    }
    button:hover{
        background-color: darken($MinionYellow,$darkerPorcentaje);
    }
}


@include media-md {
    .investigation{
        background-image: url("../../assets/img/banner2.png");    
        background-repeat: no-repeat;
        .main-text-wrapper{

            align-self: center;
            border-radius: $borderRadiusMain;
            background-color: white;
            height: 100%;
            margin: $marginCajasMD;
            padding: $paddingCajasMD;
            box-shadow: 0px 23px 35.7px 2.3px rgba(57, 58, 57, 0.15);
            border: solid $BorderWidth $BorderBlack;
        }

        img{
            width: 0;
            visibility: hidden;
        }

        button{
            width: 295px;
        }
    }
}
@include media-sm{
    .investigation{
        margin-top: $spaceBetween;
        .text-wrapper{
            width: 100%;
            .main-text-wrapper{    
                border-radius: unset;
                border-left: unset;
                border-right: unset;
                width: 100%;
            }
        }
        button{
            width: auto;
            padding: 0 $paddingCajasSM;
        }
    }
}

@keyframes leftToRightBanner {
    0% {
        opacity: 0;
        left:-300px
    }
    100% {
        opacity: 1;
        left:-267px;
    }
}

@keyframes rightToLeft {
    0% {
        opacity: 0;
        right:-300px
    }
    100% {
        opacity: 1;
        right:-190px;
    }
}