@import "../../styles/mixin";
@import "../../styles/variables";

.investigation {
    display: flex;
    justify-content: center;
    .text-wrapper {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        @include textBasis(1.063rem);

        .main-text-wrapper{
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            .title {
                @include textBasis(2.5rem);
                font-weight: 500;
                width: 354px;
                align-self: center;
            }
            margin-top: $marginCajasLG;
            margin-bottom: $marginCajasLG;
            width: 549px;
            align-self: center;
            :first-child{
                display: block;
                margin-bottom: $marginCajasLG;
            }
        }
    }
    
    button {
        width: 212px;
        background-color: $AmarilloBoton;
        color: black;
    }
    button:hover{
        background-color: darken($AmarilloBoton,$darkerPorcentaje);
    }
}


@include media-md {
    .investigation{
        background-image: url("../../assets/img/banner2.png");    
        background-repeat: no-repeat;
        .main-text-wrapper{

            align-self: center;
            border-radius: $borderRadiusMain;
            background-color: white;
            height: 100%;
            margin: $marginCajasMD;
            padding: $paddingCajasMD;
            box-shadow: 0px 23px 35.7px 2.3px rgba(57, 58, 57, 0.15);
            border: solid $BorderWidth $BorderBlack;
        }

        img{
            width: 0;
            visibility: hidden;
        }

        button{
            width: 295px;
        }
    }
}
@include media-sm{
    .investigation{
        margin-top: $spaceBetween;
        .text-wrapper{
            width: 100%;
            .main-text-wrapper{    
                border-radius: unset;
                border-left: unset;
                border-right: unset;
                width: 100%;
            }
        }
        button{
            width: auto;
            padding: 0 $paddingCajasSM;
        }
    }
}

