@import "./../../../styles/variables";

.we-tag-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    margin: 0 $spaceBetween45;
    .tag{
        //margin: 6px 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        height: 55px;  
        border-radius: 20px;
        background-color: $OH-orange;
        label{
            padding: 0 10px;
            font-family: Montserrat;
            font-size: 21.5px;
            font-weight: 900;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: left;
            color: #fcfcfc;
        }
    }
}