.no-select{
    user-select: none;   
}

button {
    @include textBasisBold($text);
    height: $btnLgHeight;
    text-decoration: none;
    border: none;
    cursor: pointer;
    border-radius: $btnBorderRadius;
    color: $White;
    border: solid  $BorderWidth $BorderBlack;
    padding: 5px 15px;
}

@include media-md{
    button{
        @include textBasisBold($text);
        height: $btnMdHeight;
        color: $White;

    }
}