@import "../styles/variables";

@include media-sm {
    #header {
        .img-wrapper {
            padding-left: 36px;
            img {
                width: 150px;
                height: 17px;
            }
        }
    }
}
//max-width:768px
@include media-md {
    .what-is-cavepot {
        .wrapper {
            display: grid !important;
            label {
                font-size: 1.438rem !important ;
            }
            label:nth-child(1) {
                width: 375px !important;
            }
            label:nth-child(2) {
                width: 371px !important;
            }
            label:nth-child(3) {
                width: 371px !important;
            }
        }
        .message-container {
            margin-top: 118px;
            .message {
                font-size: 1.313rem !important;
            }
        }
    }
    .what-do-we-do {
        background-image: none !important;
        .title {
            :nth-child(2) {
                width: 624px;
                align-self: center;
            }
        }
        .cards-wrapper {
            flex-direction: column;
            align-items: center;
            background-image: url("../assets/img/yellow-back.png");
            background-size: 100% 100%;
            background-repeat: no-repeat;
            padding-top: 83px;
            padding-bottom: 61px;
            width: 100%;
            > div {
                width: 382px !important;
                height: 350px !important;
                padding-top: 108px !important;
                label {
                    width: 295px !important;

                    font-size: 1.5rem !important;
                }
                button {
                    font-size: 1.625rem !important;
                    width: 295px !important;
                    height: 69px !important;
                }
            }
            :nth-child(1) {
                label {
                    font-size: 1.813rem !important;
                }
            }
            :nth-child(3) {
                padding-top: 54px !important;
                label {
                    width: 305px !important;
                }
            }
            :nth-child(4) {
                padding-top: 95px !important;
            }
        }
    }
    .how-we-do-it {
        justify-content: center;
        width: 100%;
        background-image: none;
        display: flex;
        flex-direction: column;
        .text-wrapper {
            position:relative;
            align-items: center;
            display: flex;
            flex-direction: column;
            margin-top: 45px;
            padding-top: 59px;
            padding-bottom: 60px;
            
            label {
                width: 576px !important;
                height: 181px;
                padding: 34px 53px 32px 59px;
                background-color: $White;
                box-shadow: 0px 23px 35.7px 2.3px rgba(57, 58, 57, 0.15);
                border-radius: 20px;
                @include textBasis(1.406rem);
                z-index: 1;
            }
            :nth-child(1) {
                order: 0;
            }
            :nth-child(2) {
                order: 3;
                padding-right: 52px;
            }
            :nth-child(3) {
                order: 2;
                padding-left: 50px;
            }
            :nth-child(4) {
                order: 4;
                padding: 58px 89px 46px 94px;
            }
        }
        .text-wrapper::before {
            content:'\A';
            position:absolute;
            background:#b3a9ce;
            top:0; bottom:0;
            left:37%; 
            width:63%;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
        }
    }
}
// maximo 1024px
@include media-lg {
    #header {
        .menu-btn {
            display: block;
            @include transition-ease;
        }
        .nav {
            visibility: hidden;

            .menu-nav {
                display: flex;
                flex-flow: column wrap;
                align-items: center;
                justify-content: center;
                height: 100vh;
                overflow: hidden;
                background-color: rgb(224, 220, 220);
                list-style-type: none;
                padding-right: 1rem;
                transform: translateY(-100%);
                opacity: 0.9;
                @include transition-ease;

                &.open {
                    transform: translateY(0);
                }
            }
            &.open {
                visibility: visible;
                position: fixed;
            }
        }
        .img-wrapper {
            z-index: 0;
        }
    }
}
@include media-min-lg {
}
@include media-xl {
}
