@include media-sm {
    #header {
        .img-wrapper {
           
            padding-left: 36px;
            img {
                width: 150px;
                height: 17px;
            }
        }
    }
    .technologies-changes {
        // background-color: rgb(244, 253, 117) !important;
        background: none;
    }
   
}
@include media-md {
    .technologies-changes {
        // background-color: rgb(210, 30, 30) !important;
        background: none;
    }
}

@include media-lg {
    #header {
        .menu-btn {
            visibility: hidden;
        }

        .nav {
            visibility: visible;

            .menu-nav {
                display: block;
                transform: translateY(0);
                height: 100%;
                background: transparent;
                text-align: right;

                &__item {
                    display: inline;
                    padding-right: 1.5rem;
                }
            }
        }
        .img-wrapper{
            z-index: 1;
        }
    }
    .technologies-changes {
        display: grid;
        grid-template-columns: 43% 57%;
        gap: 16px;
        background-image: none !important;
        
        .textwrapper{
            grid-column: 1;
            border-radius: none !important;
            box-shadow: none !important;
            transition: left 0.5s; 
        }
        img{
            display: block !important; 
            visibility: visible;
        }
    }
    .technologies-changes {
        // background-color: rgb(33, 30, 210) !important;
        background: none;
    }
}
@include media-xl {
    .technologies-changes {
        // background-color: rgb(66, 210, 30) !important;
        background: none;
    }
}
