$White: #fff;
$Red: red;
$Orange: orange;
$Green: green;
$Grey: rgb(61, 61, 61);

$CeriseRed: #e5405d;
$PineTree: #2d2829;
$Black: #000;
$SeaSerpent: #4ac1c6;
$MinionYellow: #f2e954;
$DarkLavender: #5e4a98;
$aqua:#abe3e5;

$AmarilloBoton: #fad352;
$AmarilloBanner: #f5ee78;
$LilaBanner: #5e4999;

$HCWHY-yellow: #f1ea57;
$HCWHY-red:#ec3755;

$OH-orange: #f4ac40;

$mobile: 480px;
$tablet: 780px;
$tabletLandcape: 1024px;
$laptop: 1600px;
$desktop: 1600px;

$borderRadiusMain: 10px;
$borderRadiusCircle-25: 25px;

$spaceBetween: 60px;
$spaceBetween45: 45px;