@import "../../styles/_mixin";
@import "../../styles/_variables";

.technologies-that-we-use {
    display: flex;
    flex-direction: column;
    gap: $spaceBetween20;
    align-items: center;
    justify-content: center;
    .title {
        @include textBasisBold($title);
        text-align: left;
    }
    .img-wrapper {
        display: flex;
        flex-direction: row;
        column-gap: 42px;
        justify-content: center;
        align-items: center;
        img {
            justify-self: center;
        }
        .logo {
            opacity: 0;
            &.animation {
                animation: showLogo 0.5s linear forwards;
            }
        }
    }
    .blue-line-wrapper {
        width: 75%;
        align-self: flex-end;
        justify-self: flex-end;

        #blue-line {
            grid-row: 3;
            height: 8px;
            background-color: $SeaSerpent;
            opacity: 0.6;
            border-top-left-radius: 10px 10px;
            border-bottom-left-radius: 10px 10px;
        }
        label {
            margin-left: 26px;
            @include textBasis($title);
            span {
                font-weight: bold;
            }
        }
    }
}

@include media-lg {
    .technologies-that-we-use {
        text-align: center;
        .img-wrapper {
            flex-wrap: wrap;
            gap: 30px;
            img {
                margin: 0 10px;
            }
        }
        .blue-line-wrapper {
            width: 100%;
            text-align: center;
            #blue-line {
                margin: 7px 50px 0 50px;
            }
        }
    }
}

@keyframes showLogo {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
