@import "../../styles/variables";
@import "../../styles/mixin";

.client-say {
    display: flex;
    flex-direction: row;
    background-color: $aqua;
    justify-content: center;
    align-items: center;
    gap: $spaceBetween45;
    height: 250px;
    margin-bottom: $spaceBetween;
   
    .label-wrapper {
        display: flex;
        label {
            @include textBasis(2.5rem);
            text-align: center;
            width: 287px;
        }
    }
    .right-container {
        padding-top: 150px;
        // display: flex;
        // align-items: center;
        // PARA LAS FLECHAS
        // img {
        //     width: 19px;
        //     height: 29px;
        //     cursor: pointer;
        // }
        .card {
            // max-width: 740px;
            // display: flex;
            // flex-direction: column;
            // gap: 12px;
            // background-color: $White;
            // border-radius: 20px;
            // padding: 40px 20px 40px 20px;
            // box-shadow: 0px 23px 35.7px 2.3px rgba(57, 58, 57, 0.15);
            // @include textBasis(1.125rem);
            // font-style: italic;
            // text-align: center;
            // margin-left: 25.5px;
            // margin-right: 25.5px;
            // .firm {
            //     display: flex;
            //     justify-content: flex-end;
            // }
        }
    }
}

@include media-md {
        
    .client-say {
        gap:30px;
        background-color: $White;
        height: auto;
        flex-direction: column;
        .right-container {
            flex-direction: row;
            background-color: $aqua;
            padding: 40px 25px 0 25px;
            height: 225px;
            width: 100%;
            }  
            .card{
                margin-top: 95px;
                padding: 0;
            }     
        }

}
