@import "../../styles/mixin";
@import "../../styles/variables";


$distance: 17px;
.contact {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    //margin-top: $spaceBetween;
    gap: 34px;
    animation: showUp 0.5s linear;
    .title {
        grid-column: 1 / span 4;
        display: flex;
        flex-direction: column;
        padding-top: 17px;
        text-align: center;
        @include textBasis($text);
        :first-child {
            text-align: center;
            margin-bottom: 12px;
            @include textBasisBold($title);
        }
    }
    .form-wrapper {
        justify-self: center;
        grid-column: 1 / span 4;
        .contact-options-wrapper {
            gap: 15px;
            display: flex;
            display: flex;
            padding-bottom: 15px;
            align-items: end;
            .contact-option-card {
                cursor: pointer;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
                text-align: center;
                padding-top: 15px;
                padding-bottom: 10px;
                height: 172px;
                width: 172px;
                background-color: $CeriseRed;
                border-radius: $btnBorderRadius;
                border: solid $BorderWidth $BorderBlack;
                position: relative;                
                animation-delay: 0.3s;
                animation: showUpOptions 0.3s linear forwards;
                .contact-option-title {
                    label {
                        @include textBasisBold($text);
                        color: white !important;
                    }
                }
                &.selected {
                    animation:none;
                    border-radius: $btnBorderRadius $btnBorderRadius 0 0;                    
                    background-color: $AmarilloBanner;
                    border-bottom: none;
                    bottom: -17px;
                    label {
                        color: $PineTree !important;
                    }
                }
                .contact-option-img {
                    height: 70px;
                    img {
                        height: 100%;
                    }
                }
            }
        }

        .contact-form {
            z-index: 998;
            display: grid;
            justify-self: center;
            flex-wrap: wrap;
            justify-content: center;
            grid-column: 1 / span 4;
            display: flex;
            width: 100%;
            max-width: 1155px;
            background-color: $AmarilloBanner;
            border-radius: 0 0 $btnBorderRadius $btnBorderRadius;
            margin-top: 35;
            border: solid $BorderWidth $BorderBlack;
        }
    }
}

@include media-md {
    .contact {
        padding: 0 $mainMDRightLeftPadding;
        .form-wrapper {
            width: 100%;
            .contact-form {
                .option-wrapper {
                    label {
                        width: 0px;
                        min-width: 0;
                        margin-right: 0;
                        visibility: hidden;
                        position: absolute;
                    }
                }
            }

            .contact-options-wrapper {
                gap: 15px;
                padding-bottom: 23px;
                .contact-option-card {
                    height: 176px;
                    .contact-option-img {
                        img {
                            width: 90%;
                            height: 90%;
                        }
                    }
                    .contact-option-title {
                        label {
                            font-size: 14px;
                        }
                    }

                    &.selected {
                        bottom: -25px;
                    }
                }
            }
        }
    }
}

@include media-sm {
    .contact {
        padding: 0 $mainSMRightLeftPadding;
        .form-wrapper {
            margin-top: 10px;
            .contact-options-wrapper {
                gap: 7px;
                padding-bottom: 10px;
                .contact-option-card {
                    display: flex;
                    margin: 0;
                    padding: 5px;
                    align-items: center;
                    justify-content: center;
                    height: 70px;
                    position: relative;
                    .contact-option-img {
                        img {
                            max-height: 50px;
                            max-width: 50px;
                        }
                    }
                    .contact-option-title {
                        position: absolute;
                        opacity: 0;
                        bottom: 70px;
                        left: 0;
                        label {
                            @include textBasisBold(0.6rem);
                            line-height: 0.2rem;
                            // font-family: Montserrat-Bold;
                            // font-size: 6.5px;
                        }
                    }
                    &.selected {
                        .contact-option-title{
                            opacity: 1;
                        }                        
                        bottom: -12px;
                    }
                }
            }
        }
    }
}


@keyframes showUpOptions {
    0%{
        bottom: -17px;
    }
    100%{
        bottom: 0;
    }
}