@import "../../styles/mixin";
@import "../../styles/variables";

.what-is-cavepot {
    margin-top: 62px;
    grid-row: 2;
    @include textBasis(1.125rem);
    .title-wrapper {
        display: flex;
        justify-content: center;
        .title {
            @include textBasis(2.5rem);
        }
    }
    label {
        @include textBasis(1.125rem);
        text-align: center;
        span {
            font-weight: 600;
        }
    }
    .message-container {
        display: flex;
        justify-content: center;
        .message {
            padding: 18px 24px 13px 25px;
            opacity: 0.79;
            border-radius: 10px;
            background-color: $CeriseRed;
            @include textBasis(1.188rem);
            color: $White;
            width: 439px;
        }
    }
    #short-blue-line {
        grid-column: 1;
        grid-row: 3;
        width: 90%;
        height: 7px;
        justify-self: flex-start;
        align-self: flex-end;
        background-color: $SeaSerpent;
        opacity: 0.6;
        border-top-right-radius: 10px 10px;
        border-bottom-right-radius: 10px 10px;
    }
    #blue-line {
        grid-column: 1 / span 3;
        grid-row: 1;
        width: 60%;
        height: 8px;
        align-self: flex-end;
        justify-self: flex-start;
        background-color: $SeaSerpent;
        opacity: 0.6;
        border-top-right-radius: 10px 10px;
        border-bottom-right-radius: 10px 10px;
    }

    .wrapper {
        width: 100%;
        display: inline-flex;
        gap: 79px;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 81px;
        margin-bottom: 47px;
        label:nth-child(1) {
            width: 343px;
        }
        label:nth-child(2) {
            width: 288px;
            display: block;
            justify-self: center;
            align-self: center;
        }
        label:nth-child(3) {
            width: 341px;
        }
    }
}
