@import "./../../../styles/variables";
@import "./../../../styles/mixin";

.we-tag-wrapper{
    display: flex;
    flex-direction: column;
    gap: $spaceBetween;


    .are{
        border-top: solid $BorderWidth $BorderBlack;
        border-bottom: solid $BorderWidth $BorderBlack;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 250px;
        
        font-size: 250%;
        background-color: $OH-orange;
        color: #fff;
        box-shadow: 0px 13px 7px 9px $Shadow;

        label{
            animation: OpeningSequence 3.5s linear infinite;
        }
    }

    .text-wrapper{
        border: solid $BorderWidth $BorderBlack;
        margin-right: $mainLGRightLeftPadding;
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        justify-content: center;
        align-self: flex-end;
        padding: 50px 50px;
        background-color: $CeriseRed;
        color: $White;
        width: 70%;
        height: 100%;
        border-radius: $borderRadiusMain;
        button{
            width: 211px;
            background-color: $AmarilloBoton;
            align-self: flex-end;

        }
        button:hover{
            background-color: darken($AmarilloBoton,$darkerPorcentaje);
        }
        label{
            font-size: 31.5px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: left;
            color: #fff;
        }
    }
}

@include media-md{
    .we-tag-wrapper{

        .text-wrapper{

            margin-right: unset;
            align-self: center;
            button{
                @include textBasis($btnMdTxtSize);
                height: $btnMdHeight;

                width: 195px;
            }
        }
    }
}


@keyframes OpeningSequence {
	0% {
		text-shadow: 0 0 50px #fff;
		letter-spacing:  3vw;
		opacity: 0.2;
	}
	20% {
		text-shadow: 0 0 1px #fff;
		letter-spacing: 2vw;
		opacity: 0.6;
	}
	65% {
		text-shadow: 0 0 1vw #fff;
		opacity: 0.7;
	}
	75% {
		text-shadow: 0 0 0 #fff;
		letter-spacing: 0;
		opacity: 0.9;
	}
	100% {
		opacity: 0;
	}
}