@import "./../../../styles/main";

.our-history{
    display: flex;
    flex-direction: column;
    gap: $spaceBetween45;
    padding: 0 $mainLGRightLeftPadding;
    .title{
        font-size: 40px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: $PineTree;
    }

    .react-horizontal-scrolling-menu--scroll-container::-webkit-scrollbar {
        display: none;
    }
}

@include media-md{
    .our-history{
        padding: 0 $mainMDRightLeftPadding;
    }
}