@import "../../styles/main";
.technologies-changes {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-image: url("../../assets/img/banner.png");
    .textwrapper {
        padding: 69px 89px 51px 73px;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        justify-self: center;
        width: 582px;
        border-radius: 20px;
        box-shadow: 0px 23px 35.7px 2.3px rgba(57, 58, 57, 0.15);
        background-color: #fff;
        .title {
            @include textBasis(2.5rem);
            padding-bottom: 18px;
        }
        .subtitle {
            @include textBasis(1.188rem);
        }
        transition-delay: 15s;
    }
    img {
        display: none;
        width: 781px;
        height: auto;
        justify-self: center;
    }
}
