@import '../../styles/mixin';
.technologies-changes {
    grid-column: 1 / span 4;
    display: grid;
    grid-template-columns: 43% 57%;
  
    .textwrapper {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        justify-self: center;
        width: 414px;
        .title{
            @include textBasis(2.5rem);
            padding-bottom: 18px
        }
        .subtitle{
            @include textBasis(1.188rem);
        }
    }
    img {
        width: 781px;
        height: auto;
        justify-self: center;
    }
}
