@import "./styles/variables";

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.app {
  height: 100%;
  background-color: $White;
  background: linear-gradient(180deg, rgba($DarkLavender,.3) 0, rgba(255,255,255,1) 15% 100%);
  .grid {
    //padding-top: 93px;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: hidden;
  }
}
