@import "./styles/variables";

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.app {
  height: 100%;
  background-color: $White;
  
  .grid {
    padding-top: 93px;
    display: grid;
    overflow-x: hidden;
    grid-template: 568px auto 495px 500px 504px 347px 482px 103px 391px/ 1fr;
  }
}
