@import "../../styles/mixin";
@import "../../styles/variables";

.what-do-we-do {
    background-color: $AmarilloBanner;
    display: flex;
    flex-direction: column;
    grid-row: 3;
    gap: 34px;
    margin-bottom: $spaceBetween45;
    height: calc(50%);
    .title {
        grid-column: 1 / span 4;
        display: flex;
        flex-direction: column;
        padding-top: 17px;
        text-align: center;
        @include textBasis(1.156rem);
        :first-child {
            text-align: center;
            margin-bottom: 12px;
            @include textBasis(2.5rem);
        }
    }
    .cards-wrapper {
        display: flex;
        justify-self: center;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
        margin-bottom: -50px;
        > div {
            height: 292px;
            width: 275px;
            background-color: #ffffff;
            box-shadow: 0px 23px 35.7px 2.3px rgba(57, 58, 57, 0.15);
            border-radius: 8px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            padding-top: 83px;
            padding-bottom: 41px;
            text-align: center;
            button {
                width: 212px;
                background-color: $SeaSerpent;
            }
            button:hover{
                background-color: darken($SeaSerpent,$darkerPorcentaje);
            }
            label {
                width: 216px;
                @include textBasis(1.063rem);
            }
        }
    }
}
@include media-md {
    
    .what-do-we-do {
        background-color: $White;
        .title {
            :nth-child(2) {
                width: 624px;
                align-self: center;
            }
        }
        .cards-wrapper {
            background-color: $AmarilloBanner;
            flex-direction: row;
            align-items: center;
            background-color: $AmarilloBanner;
            padding-top: 83px;
            padding-bottom: 61px;
            width: 100%;
            height: 100%;
            > div {
                width: 382px !important;
                height: 350px !important;
                padding-top: 108px !important;
                label {
                    width: 295px !important;

                    font-size: 1.5rem !important;
                }
                button {
                    width: 295px !important;
                }
            }
            :nth-child(1) {
                label {
                    font-size: 1.813rem !important;
                }
            }
            :nth-child(3) {
                padding-top: 54px !important;
                label {
                    width: 305px !important;
                }
            }
            :nth-child(4) {
                padding-top: 95px !important;
            }
        }
    }
}